body {
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #f0bd35;
	padding-top: 20px;
	padding-bottom: 10px;
}

.container h1, .container p {
	margin-top: 0px;
	margin-bottom: 5px;
}

img {
	
	max-width: 100%;
	min-width: 100%;
}

.box {
	border: 1px solid #eaeaea;
}

main {
	margin-top: 40px;
}

main .row {
	margin-bottom: 20px;
}
.char_description {
	padding-left: 20px;
}

header .col-12 {
	margin-bottom: 0px;
}
